& {
  // background: $bg;
  display: flex;
  align-items: center;
  min-height: 100vh;
  color: $color;
  font-family: "Open Sans";

  >div {
    width: 95%;
    margin: auto;
    padding: px(10);
    box-shadow: 1px 1px 1px 1px rgba(200, 200, 200, 1);

    >div {
      display: flex;
      justify-content: center;
      margin: px(20) auto;
      font-size: 10px;
    }
  }
}
